/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.modal.fade.show.d-block {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 1050;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  background: #fff;
  border-radius: 1rem;
}

.fw-semibold {
  font-weight: 600;
}
